<!-- templates/about.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - Aero Opinion</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <style>
         body
    {
        background-image: url("/static/images/background1.png");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
    }
    </style>
</head>
<body>
    <div class="background-image">
        <!-- Navigation Bar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <!-- ... your navigation bar code ... -->
        </nav>

        <!-- About Section -->
        <section id="about" class="text-section">
            <h2>About Aero Opinion</h2>
            <p>In today's interconnected world, the airline industry serves as a critical catalyst for global travel and business. 
                As air travel becomes increasingly accessible, the quality of service provided by airlines plays a pivotal role in 
                shaping passenger experiences. This project focuses on the development of an airline review classification 
                system using Classification models such as Decision Tree Classifier, Random Forest Classifier, XGBoost 
                Classifier etc., 
                The proliferation of social media platforms, travel websites, and online forums has given rise to a wealth of user generated content, including airline reviews. Extracting actionable insights from this vast pool of unstructured 
                text data has the potential to provide airlines with valuable information for refining their services and elevating 
                passenger satisfaction.
                Throughout this report, we will delve into the methodology employed to preprocess the raw text data, the process 
                of selecting pertinent features, the training and evaluation of the classification model, and the subsequent 
                interpretation of the obtained results.</p>
        </section>

        <!-- Contact Us Section -->
        <section id="contact" class="text-section">
            <h2>Contact Us</h2>
            <p>You can contact us through the following </p>
            <p>Mail : aeroopinion@gmail.com </p>
            <p>Phn No : 65817xxxxx </p>
            <p>Insta : aeroopinion </p>
           </section>
</body>
</html>
